<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Instructors Home Page</title>
    </head>
    <body>
        <ul>
            <% instructors.forEach(function(instructor){ %>
            <li><%= instructor %></li>
            <% }); %>
        </ul>
    </body>
</html>
